# Proyecto de Análisis de Datos
Este notebook está dividido en secciones específicas para que cada colaborador realice su tarea asignada.

# Importar librerias necesarias (Laura)

In [3]:
import pandas as pd

# Crear el DF (Laura)

In [6]:
df_2022 = pd.read_csv("data/df_2022.csv")
df_2022

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_GLOBAL,PERCENTIL_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION
0,CC,COLOMBIA,F,2004-01-27,20224,SB11202240382159,ESTUDIANTE,COLOMBIA,Si,CHOCO,...,24,1,1,147,1.0,1.0,NaN,NaN,2.0,PUBLICAR
1,CC,COLOMBIA,M,2002-06-23,20224,SB11202240388303,ESTUDIANTE,COLOMBIA,Si,SUCRE,...,25,1,1,144,1.0,1.0,NaN,NaN,2.0,PUBLICAR
2,CC,COLOMBIA,F,2001-06-06,20224,SB11202240564961,ESTUDIANTE,COLOMBIA,Si,RISARALDA,...,23,1,1,147,1.0,1.0,4.938466e+14,2.0,2.0,PUBLICAR
3,TI,COLOMBIA,M,2005-02-17,20224,SB11202240526792,ESTUDIANTE,COLOMBIA,Si,CESAR,...,19,1,1,138,NaN,1.0,3.884057e+14,1.0,2.0,PUBLICAR
4,TI,COLOMBIA,F,2006-02-04,20224,SB11202240088017,ESTUDIANTE,COLOMBIA,Si,CAUCA,...,32,1,10,142,1.0,1.0,4.373906e+14,2.0,2.0,PUBLICAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53274,TI,COLOMBIA,F,2004-04-30,20224,SB11202240210685,ESTUDIANTE,COLOMBIA,No,SUCRE,...,34,1,14,218,31.0,NaN,5.036176e+14,2.0,2.0,PUBLICAR
53275,TI,COLOMBIA,M,2005-04-13,20224,SB11202240183732,ESTUDIANTE,COLOMBIA,No,SUCRE,...,33,1,12,176,7.0,NaN,5.392192e+14,3.0,3.0,PUBLICAR
53276,TI,COLOMBIA,M,2005-05-07,20224,SB11202240017373,ESTUDIANTE,COLOMBIA,No,SUCRE,...,39,1,28,205,22.0,NaN,4.540895e+14,2.0,3.0,PUBLICAR
53277,CC,COLOMBIA,M,2004-01-11,20224,SB11202240506805,ESTUDIANTE,COLOMBIA,No,SUCRE,...,38,1,26,162,2.0,NaN,NaN,NaN,2.0,PUBLICAR
53278,TI,COLOMBIA,F,2005-11-06,20224,SB11202240417199,ESTUDIANTE,COLOMBIA,No,SUCRE,...,48,2,53,258,57.0,NaN,4.050697e+13,1.0,1.0,PUBLICAR

# Nuevo df con Lista de variables (Jorge)

In [9]:
# Lista con variables de interés (se escogen 24 inicialmente como las que podrían ser interesantes). Esto se hace no solo por el hecho de creer que podrían ser inyteresantes, sino que hay algunas variables con información repetitiva y no relevante, como por ejemplo, municipio y código de municipio (solo sería suficiente con tener el municipio).
variables_iniciales = ["ESTU_GENERO","ESTU_DEPTO_RESIDE","FAMI_EDUCACIONPADRE","FAMI_EDUCACIONMADRE","FAMI_ESTRATOVIVIENDA","FAMI_PERSONASHOGAR","FAMI_TIENEINTERNET","FAMI_TIENECONSOLAVIDEOJUEGOS","FAMI_NUMLIBROS","ESTU_HORASSEMANATRABAJA","FAMI_COMELECHEDERIVADOS","FAMI_COMECARNEPESCADOHUEVO","COLE_JORNADA","COLE_GENERO","COLE_NATURALEZA","COLE_BILINGUE","COLE_CARACTER","COLE_AREA_UBICACION","PUNT_MATEMATICAS","PUNT_INGLES","PUNT_C_NATURALES","PUNT_LECTURA_CRITICA","PUNT_SOCIALES_CIUDADANAS","PUNT_GLOBAL"]
#Nuevos DataFrame con las 24 variables seleccionadas
new_2022 = df_2022[variables_iniciales]
new_2022

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,FAMI_ESTRATOVIVIENDA,FAMI_PERSONASHOGAR,FAMI_TIENEINTERNET,FAMI_TIENECONSOLAVIDEOJUEGOS,FAMI_NUMLIBROS,ESTU_HORASSEMANATRABAJA,...,COLE_NATURALEZA,COLE_BILINGUE,COLE_CARACTER,COLE_AREA_UBICACION,PUNT_MATEMATICAS,PUNT_INGLES,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_SOCIALES_CIUDADANAS,PUNT_GLOBAL
0,F,CHOCO,NaN,NaN,NaN,3 a 4,NaN,NaN,NaN,NaN,...,OFICIAL,NaN,NaN,RURAL,26,38.0,33,32,24,147
1,M,SUCRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,OFICIAL,NaN,NO APLICA,RURAL,24,35.0,29,35,25,144
2,F,RISARALDA,Secundaria (Bachillerato) completa,Técnica o tecnológica completa,Estrato 1,9 o más,Si,No,MÁS DE 100 LIBROS,Más de 30 horas,...,OFICIAL,N,TÉCNICO/ACADÉMICO,RURAL,27,31.0,35,32,23,147
3,M,CESAR,Secundaria (Bachillerato) incompleta,Primaria completa,Estrato 1,9 o más,No,No,11 A 25 LIBROS,Menos de 10 horas,...,OFICIAL,N,TÉCNICO/ACADÉMICO,URBANO,28,NaN,31,32,19,138
4,F,CAUCA,Secundaria (Bachillerato) incompleta,Ninguno,Sin Estrato,3 a 4,No,No,0 A 10 LIBROS,Menos de 10 horas,...,OFICIAL,S,TÉCNICO/ACADÉMICO,RURAL,18,34.0,30,32,32,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53274,F,SUCRE,Ninguno,Primaria completa,NaN,9 o más,Si,No,26 A 100 LIBROS,Menos de 10 horas,...,OFICIAL,N,TÉCNICO/ACADÉMICO,URBANO,46,46.0,41,53,34,218
53275,M,SUCRE,No sabe,No sabe,Estrato 3,3 a 4,Si,No,11 A 25 LIBROS,Menos de 10 horas,...,NO OFICIAL,N,ACADÉMICO,URBANO,30,44.0,42,33,33,176
53276,M,SUCRE,NaN,NaN,NaN,3 a 4,NaN,No,NaN,0,...,NO OFICIAL,N,ACADÉMICO,URBANO,38,38.0,36,52,39,205
53277,M,SUCRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NO OFICIAL,N,ACADÉMICO,URBANO,26,40.0,34,29,38,162
53278,F,SUCRE,Primaria incompleta,Secundaria (Bachillerato) incompleta,Estrato 1,5 a 6,No,No,NaN,Menos de 10 horas,...,OFICIAL,N,TÉCNICO/ACADÉMICO,URBANO,51,36.0,50,63,48,258

# Preprocesamiento y descriptivo (Jorge)

In [11]:
#Calcular datos faltantes
def contar_faltantes(dataframe, lista):
    dicc_cont_faltantes = {}
    for i in lista:
        datos_faltantes = dataframe[i].isna().sum()
        dicc_cont_faltantes[i] = datos_faltantes
    return dicc_cont_faltantes
print("A continuación está el diccionario con los faltantes de la base 2022")
print(contar_faltantes(new_2022, variables_iniciales))

df_total=new_2022
#Eliminar las columnas que tienen más del 10% de datos faltantes, ya que eliminar las filas correspondientes sería perder tamaño en los datos, e imputar datos no es considerado para las variables dadas una buena opción ya que puede distorsionar el análisis descriptivo de los datos debido a la gran cantidad de datos faltantes.
#Por otro lado, para las columnas con menos de 10% de datos faltantes, se decide imputar los datos con la moda para variables categóricas en las que aplique, y con la media para variables numéricas en las que aplique.
diccionario = contar_faltantes(df_total, variables_iniciales)
columnas_a_eliminar = [llave for llave, valor in diccionario.items() if valor > 0.10*len(df_total)]
df_definitivo = df_total.drop(columns=columnas_a_eliminar)
imputar_moda = ['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_EDUCACIONPADRE','FAMI_EDUCACIONMADRE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET','FAMI_TIENECONSOLAVIDEOJUEGOS','ESTU_HORASSEMANATRABAJA','FAMI_NUMLIBROS','FAMI_PERSONASHOGAR','COLE_JORNADA','COLE_GENERO','COLE_NATURALEZA','COLE_CARACTER','COLE_AREA_UBICACION','FAMI_COMELECHEDERIVADOS','FAMI_COMECARNEPESCADOHUEVO']
imputar_media = ['PUNT_MATEMATICAS','PUNT_INGLES','PUNT_C_NATURALES','PUNT_LECTURA_CRITICA','PUNT_SOCIALES_CIUDADANAS','PUNT_GLOBAL']
for columna in imputar_moda:
    moda = df_definitivo[columna].mode()[0]
    df_definitivo[columna] = df_definitivo[columna].fillna(moda)
for columna in imputar_media:
    media = df_definitivo[columna].mean()
    df_definitivo[columna] = df_definitivo[columna].fillna(media)
df_definitivo


nombres_columnas = df_definitivo.columns.tolist()
diccionario2 = contar_faltantes(df_definitivo, nombres_columnas)
print(diccionario2) #Verifiqué que ya no hay datos nulos en el dataframe final.
print(len(df_definitivo)) #El dataframe final queda con 53279 observaciones y 23 columnas.
tipos_datos = df_definitivo.dtypes #Validar el tipo de datos.
print(tipos_datos)

A continuación está el diccionario con los faltantes de la base 2022
{'ESTU_GENERO': 1, 'ESTU_DEPTO_RESIDE': 0, 'FAMI_EDUCACIONPADRE': 3077, 'FAMI_EDUCACIONMADRE': 3097, 'FAMI_ESTRATOVIVIENDA': 3539, 'FAMI_PERSONASHOGAR': 2304, 'FAMI_TIENEINTERNET': 3159, 'FAMI_TIENECONSOLAVIDEOJUEGOS': 2471, 'FAMI_NUMLIBROS': 4630, 'ESTU_HORASSEMANATRABAJA': 2393, 'FAMI_COMELECHEDERIVADOS': 3658, 'FAMI_COMECARNEPESCADOHUEVO': 3229, 'COLE_JORNADA': 0, 'COLE_GENERO': 0, 'COLE_NATURALEZA': 0, 'COLE_BILINGUE': 9707, 'COLE_CARACTER': 2099, 'COLE_AREA_UBICACION': 0, 'PUNT_MATEMATICAS': 0, 'PUNT_INGLES': 193, 'PUNT_C_NATURALES': 0, 'PUNT_LECTURA_CRITICA': 0, 'PUNT_SOCIALES_CIUDADANAS': 0, 'PUNT_GLOBAL': 0}
{'ESTU_GENERO': 0, 'ESTU_DEPTO_RESIDE': 0, 'FAMI_EDUCACIONPADRE': 0, 'FAMI_EDUCACIONMADRE': 0, 'FAMI_ESTRATOVIVIENDA': 0, 'FAMI_PERSONASHOGAR': 0, 'FAMI_TIENEINTERNET': 0, 'FAMI_TIENECONSOLAVIDEOJUEGOS': 0, 'FAMI_NUMLIBROS': 0, 'ESTU_HORASSEMANATRABAJA': 0, 'FAMI_COMELECHEDERIVADOS': 0, 'FAMI_COMECARNEPESCADOHUEVO': 0, 'COLE_JORNADA': 0, 'COLE_GENERO': 0, 'COLE_NATURALEZA': 0, 'COLE_CARACTER': 0, 'COLE_AREA_UBICACION': 0, 'PUNT_MATEMATICAS': 0, 'PUNT_INGLES': 0, 'PUNT_C_NATURALES': 0, 'PUNT_LECTURA_CRITICA': 0, 'PUNT_SOCIALES_CIUDADANAS': 0, 'PUNT_GLOBAL': 0}
53279
ESTU_GENERO                      object
ESTU_DEPTO_RESIDE                object
FAMI_EDUCACIONPADRE              object
FAMI_EDUCACIONMADRE              object
FAMI_ESTRATOVIVIENDA             object
FAMI_PERSONASHOGAR               object
FAMI_TIENEINTERNET               object
FAMI_TIENECONSOLAVIDEOJUEGOS     object
FAMI_NUMLIBROS                   object
ESTU_HORASSEMANATRABAJA          object
FAMI_COMELECHEDERIVADOS          object
FAMI_COMECARNEPESCADOHUEVO       object
COLE_JORNADA                     object
COLE_GENERO                      object
COLE_NATURALEZA                  object
COLE_CARACTER                    object
COLE_AREA_UBICACION              object
PUNT_MATEMATICAS                  int64
PUNT_INGLES                     float64
PUNT_C_NATURALES                  int64
PUNT_LECTURA_CRITICA              int64
PUNT_SOCIALES_CIUDADANAS          int64
PUNT_GLOBAL                       int64
dtype: object